#work-space{
    @include id-function;
    margin: 100px 115px;
    .inner-image{
        img{
            @include img-division;
            }
    }
    .ws-text{
        padding-top: 55px;
        margin-right: 30px;
        position: relative;
        .ws-about{
            @include section-text;
            h2{
                @include section-text-h2;
            }
            p{
                @include section-text-p;
            }
        }
        .ws-button{
            @include button-div;
            .button{
                @include button-real;
            }
            .button:hover{
                background: #33a7b7;
                cursor: pointer;
            }                
            
        }
    }    
}