$mainColor: #2d1dff;
$justify-content-center: center;
$justtify-content-around: space-around;
$width-100: 100%;
$text-center: center;
$border-blue: 2px solid #6e63ff;
$text-style-none: none;
$text-hover: rgba($color: #fff, $alpha: 0.6);
$bg-cover: cover;
$bg-blue: #2d1dff;
//kamal
$color-white: white;
$flex: flex;
$flex-row: row;
$flex-column: column;
$justify-content: space-between;
$align-items-center: center;
$mainFont: 'Poppins';
// Video-introduction
// flexler
$flex:flex;
$flex-direction-column:column;
// centerler
$justify-content-center:center;
$justify-content:space-between;
$align-items-center:center;
$text-align-center:center;
// main-color,family
$main-color-video:#ffffff;
$two-main-color:#111111;
$font-family-Poppins: 'Poppins';
// positionlar
$position-relative:relative;
$position-absolute:absolute;
// choices
// box
$box-sizing: border-box;